body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .container {
    background-color: #444;
    color: white;
}

h1 {
    color: #333;
}

body.dark-mode h1 {
    color: white;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body.dark-mode input[type="text"] {
    border: 1px solid #666;
    background-color: #555;
    color: white;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#suggestions {
    margin-top: 20px;
}

.suggestion {
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

body.dark-mode .suggestion {
    background-color: #666;
    border: 1px solid #444;
}

#history {
    margin-top: 20px;
    text-align: left;
}

#history h2 {
    margin-bottom: 10px;
}

#historyList {
    list-style: none;
    padding: 0;
}

#historyList li {
    background-color: #f8f8f8;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

body.dark-mode #historyList li {
    background-color: #666;
    border: 1px solid #444;
}
